.bookingsWrapper{
    padding-top: 90px;
    width: 80vw;
    min-height: 100vh;
    margin: auto;
}

.booking{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.res{
    display: flex;
    align-items: flex-start;
    gap: 4px;
    flex-direction: column;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    word-spacing: 1px;
}

a{
    text-decoration: none;
    color: #000;
}