.cartWrapper{
    width: 100vw;
    height: 100vh;
    background-color: #00000076;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    z-index: 2;
    overscroll-behavior: contain;
}


.cartContainer{
    width: 600px;
    height: 100vh;
    z-index: 100;
    float: right;
    background-color: #fff;
    padding: 40px 10px;
    position: relative;
}

.cartHeading{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.cartHeading .heading{
    margin-left: 10px;
}
.cartNumItems{
    margin-left: 10px;
    color: #f02d34;
}

.emptyCart{
    height: 70vh;
    margin:40px;
    text-align:center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.emptyCart h3{
    font-weight: 600;
    font-size: 20px;
}

.emptyBtn{
    margin-top: 10px;
    min-width: 400px;
}

.productContainer{
    margin-top: 15px;
    overflow: auto;
    height: 81vh;
    padding: 20px 10px;
}

.btnContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.btn{
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.btn:hover{
    transform: scale(1.1,1.1);
}

.cartItem{
    margin: 10px;
    padding: 10px;
    min-height: 180px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items:flex-start;
    gap: 10px;
}

.cartItemImg{
    flex: 1;
    display: block;
    border-radius: 15px;
    height: 100%;
    height: 160px;
    width: 160px;
}

.cartItemDetails{
    flex: 2;
}

.cartTop{
    min-height: 140px;
}

.cartItemName{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartCategory{
    font-size: 14px;
    color: grey;
    font-weight: 400;
    font-style: italic;
}

.cartItemTypes{
    display: flex;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
    gap: 5px;
    min-height: 105px;
}

.cartItemTypes>.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cartItemTypes>.col>.dateCart{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartItemTotal{
    font-size: 20px;
    font-weight: 500;
    color: #f02d34;
    text-align: right;
}