.cartWrapper{
    width: 100vw;
    height: 100vh;
    background-color: #00000076;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    z-index: 2;
    overscroll-behavior: contain;
}

.cartHeaders{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartContainer{
    width: 40%;
    height: 100vh;
    z-index: 100;
    float: right;
    background-color: #fff;
    padding: 40px 10px;
    position: relative;
}

.cartHeading{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.clearCart{
    margin-right: 16px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(197, 197, 197);
    transition: all 0.5s;
}

.clearCart:hover{
    color: rgb(161, 161, 161);
    text-decoration: underline;
}

.cartHeading .heading{
    margin-left: 10px;
}
.cartNumItems{
    margin-left: 10px;
    color: #f02d34;
}

.emptyCart{
    height: 70vh;
    margin:40px;
    text-align:center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.emptyCart h3{
    font-weight: 600;
    font-size: 20px;
}

.emptyBtn{
    margin-top: 10px;
    width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}


.emptyBtn:hover{
    transform: scale(1.1,1.1);
}

.productContainer{
    margin-top: 15px;
    overflow: auto;
    height: 81vh;
    padding: 20px 10px;
}

.btnContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.btn{
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.btn:hover{
    transform: scale(1.1,1.1);
}

.cartItem{
    margin: 10px;
    padding: 10px;
    min-height: 180px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items:flex-start;
    gap: 15px;
}

.cartItemImg{
    flex: 1;
    display: block;
    border-radius: 15px;
    height: 100%;
    height: 160px;
    width: 160px;
}

.cartItemDetails{
    flex: 2;
}

.cartTop{
    min-height: 140px;
}

.cartItemName{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartCategory{
    font-size: 14px;
    color: grey;
    font-weight: 400;
    font-style: italic;
}

.cartItemTypes{
    display: flex;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
    gap: 5px;
    min-height: 105px;
}

.cartItemTypes>.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.cartItemTypes>.col>.dateCart{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartItemLower{
    margin-top: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cartItemRemove{
    display: none;
}

.cartItem:hover  .cartItemRemove{
    display: block;
    font-size: 14px;
    color: rgb(161, 161, 161);
    margin-left: 6px;
    cursor: pointer;
}
.cartItem:hover .space{
    display: none;
}

.cartItemTotal{
    font-size: 20px;
    font-weight: 500;
    color: #f02d34;
}
.nowrap{
    text-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
    .cartContainer{
        width: 55%;
    }
}

@media screen and (max-width: 1000px) {
    .cartContainer{
        font-size: 14px;
        width: 60%;
    }
    .cartItemName,.cartItemTotal{
        font-size: 16px;
    }
    .cartItemImg{
        height: 130px;
        width: 130px;
    }
    .cartItemTypes{
        min-height: 90px;
    }
}

@media screen and (max-width: 800px) {
    .productContainer{
        height: 82vh;
    }
    .cartContainer{
        width: 70%;
    }
    .btn{
        margin: 0 15px;
        font-size: 16px;
    }
    .cartItem{
        gap: 8px;
    }
    .cartHeaders{
        font-size: 16px;
    }
    .productContainer{
        padding: 20px 0;
        margin-top: 0;
    }
    
    .btnContainer{
        margin-top: 15px;
    }
    .emptyBtn{
        max-width: 250px;
        padding: 10px 25px;
    }
}

@media screen and (max-width:600px) {
    .cartContainer{
        width: 100%;
        padding-bottom: 20px;
    }
    .cartItem{
        gap: 20px;
    }
    .cartItemDetails{
        font-size: 12px;
    }
    .cartHeaders,.cartHeading,.clearCart,.cartItemRemove{
        font-size: 14px;
    }
    .cartItemTypes>.col{
        gap: 2px;
    }
    .btn{
        font-size: 14px;
        max-width: none;
    }
    .emptyBtn{
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){
    .cartItem{
        min-height: 170px;
        gap: 10px;
    }
}