.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #EEEEEE;
    padding-top: 80px;
    width: 100vw;
    min-height: 100vh;
}

.homeLeft{
    flex: 1;
    padding: 30px 0px 30px 10px;
    overflow-y: auto;
    position: sticky;
    top: 0;
    height: 100vh;
}

.homeRight{
    flex: 4;
    padding: 10px;
    overflow-y: auto; 
}

.homeSearch{
    margin: 0 20px;
}

@media screen and (max-width: 1000px) {
    .homeRight{
        padding: 0;
    }
}

@media screen and (max-width:800px){
    .homeLeft{
        display: none;
    }
}
@media screen and (min-width:800px){
    .homeSearch{
        display: none;
    }
}