.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #EEEEEE;
    padding-top: 80px;
    width: 100vw;
    min-height: 100vh;
}

.homeLeft{
    flex: 1;
    padding: 30px 0px 30px 10px;
}

.homeRight{
    flex: 4;
    padding: 10px;
}