.hotelMain,.banquetMain,.cateringMain{
    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
}

.hotelName,.banquetName,.cateringName{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.hotelAdd,.banquetAdd,.cateringAdd{
    color: #999999;
    font-size: 16px;
}

.hotelTop,.banquetTop,.cateringTop{
    margin-bottom: 30px;
}

.hotelMid,.banquetMid,.cateringMid{
    background-color: #fff;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.hotelImgs,.banquetImgs,.cateringImgs{
    flex:7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.hotelMainImg,.banquetMainImg,.cateringImgs{
    width: 100%;
    object-fit: cover;
    flex: 2;
    border-radius: 15px;
}

.imgRoll{
    flex: 1;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    overflow: auto;
    white-space: nowrap;
}

.imgItem{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.hotelRight,.banquetRight,.cateringRight{
    flex: 3;
    font-size: 18px;
    padding: 20px 0;
}

.hotelView, .hotelBooked, .banquetView, .banquetBooked ,.cateringView, .cateringBooked{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pb5{
    padding-bottom: 5px;
}

.f20{
    font-size: 20px;
}

.green{
    color: #435c10;
}

.br{
    margin: 15px 0;
    width: 100%;
    height: 0.5px;
    background-color: #9999995e;
}

.hotelOverview,.banquetOverview,.cateringOverview{
    background-color: #fff;
    padding: 20px;
}

.pb20{
    padding-bottom: 10px;
}

.hotelRoom, .banquetBooking, .cateringBooking{
    background-color: #fff;
    padding: 20px;
}

.hotelStandard, .hotelDeluxe, .hall, .cateringBasic, .cateringPremium, .cateringPremiumPlus{
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-height: 200px;
}

.roomLeft, .hallLeft, .cateringServiceLeft{
    flex: 3;
}

.cateringServiceLeft{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cateringServiceLeft>.col{
    width: 45%;
    color: #605e5e;
    font-weight: 500;
}

.imgSml{
    width: 100%;
    height: 100%;
    object-fit:contain
}

.roomMid, .hallMid, .cateringServiceMid{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.hallMid>.col, .roomMid>.col, .cateringServiceMid>.col{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    flex-wrap: wrap;
}

.date,.hallNo,.roomNo{
    cursor: pointer;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 165px;
}

.roomRight, .hallRight, .cateringServiceRight{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.finalAmt{
    font-size: 20px;
    color: brown;
    font-weight: 600;
    display: flex;
    align-items: baseline;
}

.small{
    font-size: 14px;
    font-weight: 400;
}

.bookNow{
    background-color: #435c10;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
}
.bookNow:hover{
    scale: 1.05;
}

.count{
    width: 164px;
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.minus,.plus{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #435c10;
    color: #fff;
}

.val{
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}