.hotelMain,.banquetMain,.cateringMain{
    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
}

.hotelName,.banquetName,.cateringName{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.hotelAdd,.banquetAdd,.cateringAdd{
    color: #999999;
    font-size: 16px;
}

.hotelTop,.banquetTop,.cateringTop{
    margin-bottom: 30px;
}

.hotelMid,.banquetMid,.cateringMid{
    background-color: #fff;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.hotelImgs,.banquetImgs,.cateringImgs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.hotelMainImg,.banquetMainImg,.cateringMainImg{
    display: block;
    max-width:800px;
    max-height:500px;
    width: auto;
    height: auto;
}

.imgRoll{
    overflow: auto;
    white-space: nowrap;
}

.imgItem{
    height: 150px;
    width: 150px;
    margin: 0 10px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.hotelRight,.banquetRight,.cateringRight{
    flex: 2;
    font-size: 18px;
    padding: 20px 0;
}

.hotelAmenities, .cateringAmenities, .banquetAmenities{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.amenity{
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    border: 0.5px solid black;
    background-color: #ddd8d8;
    border-radius: 10px ;
}

.hotelView, .hotelBooked, .banquetView, .banquetBooked ,.cateringView, .cateringBooked{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pb5{
    padding-bottom: 5px;
}

.f20{
    font-size: 20px;
}

.green{
    color: #435c10;
}

.br{
    margin: 15px 0;
    width: 100%;
    height: 0.5px;
    background-color: #9999995e;
}

.hotelOverview,.banquetOverview,.cateringOverview{
    background-color: #fff;
    padding: 20px;
    text-align: justify;
}

.pb20{
    padding-bottom: 10px;
}

.hotelRoom, .banquetBooking, .cateringBooking{
    background-color: #fff;
    padding: 20px;
}

.hotelStandard, .hotelDeluxe, .hall, .cateringBasic, .cateringPremium, .cateringPremiumPlus{
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-height: 200px;
}

.roomLeft, .hallLeft, .cateringServiceLeft{
    flex: 2;
}

.cateringServiceLeft{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cateringServiceLeft>.col{
    /* width: 45%; */
    color: #605e5e;
    font-weight: 500;
    font-size: 14px;
}

.imgSml{
    width: 100%;
    height: 100%;
    object-fit:cover
}

.roomMid, .hallMid, .cateringServiceMid{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

.serviceMid{
    /* border-collapse:separate; 
    border-spacing: 0 1em; */
    width: 80%;
}

td{
    padding: 4px;
}


.hallMid>.col, .roomMid>.col, .cateringServiceMid>.col{
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    flex-wrap: wrap;
}

.date,.hallNo,.roomNo{
    cursor: pointer;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 165px;
}

.roomRight, .hallRight, .cateringServiceRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.finalAmt{
    font-size: 20px;
    color: brown;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    text-wrap: nowrap;
}

.small{
    font-size: 14px;
    font-weight: 400;
}

.bookNow{
    background-color: #435c10;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
}
.bookNow:hover{
    scale: 1.05;
}

.count{
    width: 165px;
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.minus,.plus{
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #435c10;
    color: #fff;
}

.val{
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    .hotelMain,.banquetMain,.cateringMain{
        width: 90%;
    }
    .hotelImgs,.banquetImgs,.cateringImgs{
        width: 70%;
    }
    .hotelMainImg,.banquetMainImg,.cateringMainImg{
        max-height: 400px;
    }
    .imgItem{
        height: 120px;
        width: 120px;
    }
    .date, .hallNo, .roomNo{
        width: 135px;
        height: 24px;
        margin: 0;
        padding: 0;
    }
    .count{
        width: 135px;
        height: 24px;
    }
}

@media screen and (max-width:850px){
    .hallMid>.col, .roomMid>.col, .cateringServiceMid>.col{
        width: 100%;
    }
    .roomMid, .hallMid, .cateringServiceMid{
        flex: 3;
    }
}

@media screen and (max-width: 800px){
    .hallMid>.col, .roomMid>.col, .cateringServiceMid>.col{
        flex-direction: column;
    }
    .hotelMainImg,.banquetMainImg,.cateringMainImg{
        max-height: 300px;
    }
    .hotelRight,.banquetRight,.cateringRight{
        font-size: 14px;
    }
    .date, .hallNo, .roomNo{
        width: 105px;
        font-size: 12px;
    }
    .count{
        width: 105px;
    }

    .amenity{
        font-size: 12px;
        padding: 3px;
    }
    .hotelMain, .banquetMain, .cateringMain{
        font-size: 15px;
    }
    
    .hotelOverview,.banquetOverview,.cateringOverview{
        font-size: 14px;
    }
    .hotelStandard, .hotelDeluxe, .hall, .cateringBasic, .cateringPremium, .cateringPremiumPlus{
        font-size: 14px;
        padding: 10px;
    }
    .finalAmt{
        font-size: 18px;
    }
    
    .minus,.plus{
        flex:2
    }
    .val{
        flex: 3;
    }
    .hotelMid, .banquetMid, .cateringMid{
        gap: 10px;
    }
    .bookNow{
        font-size: 14px;
    }
    .cateringServiceLeft{
        gap: 5px;
    }
    .cateringServiceLeft{
        flex: 2.5;
    }
}
@media screen and (max-width: 600px){
    .hotelMid, .banquetMid, .cateringMid{
        flex-direction: column;
    }
    .hotelImgs, .banquetImgs, .cateringImgs{
        width: 100%;
    }
    .spread,.hotelTimings,.banquetInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hotelMain, .banquetMain, .cateringMain{
        width: 95%;
        
    }
    .hotelName,.banquetName,.cateringName{
        font-size: 18px;
    }
    .hotelAdd,.banquetAdd,.cateringAdd{
        font-size: 14px;
    }
    .serviceMid{
        width: 100%;
    }

    .hotelStandard, .hotelDeluxe, .hall, .cateringBasic, .cateringPremium, .cateringPremiumPlus{
        font-size: 12px;
    }

    .roomLeft, .hallLeft, .cateringServiceLeft{
        display: none;
    }
    .hotelRoom, .banquetBooking, .cateringBooking{
        font-size: 12px;
    }
    .bookNow{
        width: 100%;
    }
    .finalAmt{
        font-size: 14px;
    }
    .small{
        font-size: 12px;
    }
    .hotelRight,.banquetRight,.cateringRight{
        font-size: 12px;
    }
}
